<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <div class="text-center">
        <div class="author-img" style="background-image: url({{{global.sidebar_profile.img_profile}}});"></div>
        <h1 id="colorlib-logo" class="center">{{global.sidebar_profile.name}}</h1>
        <span class="position" style="margin-bottom:0px">{{global.sidebar_profile.position}}</span>
        <span class="position">{{global.sidebar_profile.address}}</span>
    </div>
    <nav id="colorlib-main-menu" role="navigation" class="navbar">
        <div id="navbar" class="collapse">
            <ul>
                {{#global.sidebar_navigation.nav1.show_or_hide}}
                <li class="active"><a href="#" data-nav-section="home">{{global.sidebar_navigation.nav1.text}}</a></li>
                {{/global.sidebar_navigation.nav1.show_or_hide}}

                {{#global.sidebar_navigation.nav2.show_or_hide}}
                <li><a href="#" data-nav-section="about">{{global.sidebar_navigation.nav2.text}}</a></li>
                {{/global.sidebar_navigation.nav2.show_or_hide}}

                {{#global.sidebar_navigation.nav3.show_or_hide}}
                <li><a href="#" data-nav-section="services">{{global.sidebar_navigation.nav3.text}}</a></li>
                {{/global.sidebar_navigation.nav3.show_or_hide}}

                {{#global.sidebar_navigation.nav4.show_or_hide}}
                <li><a href="#" data-nav-section="skills">{{global.sidebar_navigation.nav4.text}}</a></li>
                {{/global.sidebar_navigation.nav4.show_or_hide}}

                {{#global.sidebar_navigation.nav5.show_or_hide}}
                <li><a href="#" data-nav-section="education">{{global.sidebar_navigation.nav5.text}}</a></li>
                {{/global.sidebar_navigation.nav5.show_or_hide}}

                {{#global.sidebar_navigation.nav6.show_or_hide}}
                <li><a href="#" data-nav-section="experience">{{global.sidebar_navigation.nav6.text}}</a></li>
                {{/global.sidebar_navigation.nav6.show_or_hide}}

                {{#global.sidebar_navigation.nav7.show_or_hide}}
                <li><a href="#" data-nav-section="work">{{global.sidebar_navigation.nav7.text}}</a></li>
                {{/global.sidebar_navigation.nav7.show_or_hide}}

                {{#global.sidebar_navigation.nav8.show_or_hide}}
                <li><a href="#" data-nav-section="blog">{{global.sidebar_navigation.nav8.text}}</a></li>
                {{/global.sidebar_navigation.nav8.show_or_hide}}

                {{#global.sidebar_navigation.nav9.show_or_hide}}
                <li><a href="#" data-nav-section="contact">{{global.sidebar_navigation.nav9.text}}</a></li>
                {{/global.sidebar_navigation.nav9.show_or_hide}}
            </ul>
        </div>
    </nav>

    <div class="colorlib-footer">
        <ul>
            {{#global.social.facebook.show_or_hide}}
            <li><a href="{{{global.social.facebook.link}}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            {{/global.social.facebook.show_or_hide}}

            {{#global.social.twitter.show_or_hide}}
            <li><a href="{{{global.social.twitter.link}}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            {{/global.social.twitter.show_or_hide}}
            
            {{#global.social.linkedin.show_or_hide}}
            <li><a href="{{{global.social.linkedin.link}}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            {{/global.social.linkedin.show_or_hide}}
            
            {{#global.social.instagram.show_or_hide}}
            <li><a href="{{{global.social.instagram.link}}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
            {{/global.social.instagram.show_or_hide}}
            
            {{#global.social.youtube.show_or_hide}}
            <li><a href="{{{global.social.youtube.link}}}" target="_blank"><i class="fa fa-youtube"></i></a></li>
            {{/global.social.youtube.show_or_hide}}

            {{#global.social.github.show_or_hide}}
            <li><a href="{{{global.social.github.link}}}" target="_blank"><i class="fa fa-github"></i></a></li>
            {{/global.social.github.show_or_hide}}

            {{#global.social.dribbble.show_or_hide}}
            <li><a href="{{{global.social.dribbble.link}}}" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            {{/global.social.dribbble.show_or_hide}}
        </ul>

        <p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </span> <span>Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash.com</a></span></small></p>  
    </div>

    <p class="center vertex"><a href="https://www.turbo360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/Nd9cMfIKz4VGQ2inBjBkdhsnOexIHpYMDrefPwFpGM5IU_-LryDqpyC4LaTAuA6Jm0z__jHxe6SheitNHTZIkzd2gA=s320"/></a></p>

</aside>