<!DOCTYPE HTML>
<html>
<head>
	{{>head}}
	<style>
		.blog-post p {
			font-size: 18px;
		}
        .blog-post p.date {
			font-size: 14px;
            margin-bottom: 4rem;
		}
        .blog-post h2 {
			margin-bottom: 5px;
            font-size: 35px;
		}
	</style>
</head>

<body>
	<div id="colorlib-page">
		<div class="container-wrap" id="vertex-container">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

            {{>sidebar-post}}

            <div id="colorlib-main">
                <section class="colorlib-about" data-section="blog-post">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="col-md-10 col-md-offset-1 blog-post">
                                        <p class="post-img"><img src="{{{post.image}}}"/></p>
                                        <h2 class="text-center">{{post.title}}</h2>
                                        <p class="text-center date">{{post.dateString}}</p>
                                        {{{post.text}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

		    </div><!-- end:colorlib-main -->
	    </div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	{{>scripts}}
</body>
</html>
